@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&family=Poppins:wght@100;400;600;700&display=swap');
:root {
    --verde: #009054;
    --verde_oscuro: #166242;
    --verde_novedades: #057331;
}
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
}

/* Contenedor y Utilidades */

.contenedor {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}
.larger-size-h5 {
    font-size: 2.4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.larger-size-p {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

/* Nav & Header */
.header__nav {
    display: flex;
    min-height: 8rem;
    position: relative;
}
.header__nav::after {
    content: '';
    position: absolute;
    height: 5px;
    bottom: 0;
    width: 100%;
    background-color: var(--verde);
}
.header__nav__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo h2 {
    font-size: 3.8rem;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 500;
    color: var(--verde);
}
.header__nav nav ul {
    display: flex;
    list-style: none;
    font-size: 1.8rem;
    gap: 4.2rem;
    padding-top: .5rem;
}
.header__nav nav ul li a {
    text-decoration: none;
    color: var(--verde_oscuro);
    transition: all .2s;
}
.header__nav nav ul li a:hover {
    color: var(--verde);
}

/* Productos Principales */

.productos-principales__container {
    max-width: 60%;
    min-height: 55rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    color: white;
    margin-top: 5rem;
}

/* Producto 1 */
.productos-principales__1 {
    background-image: url(../img/category-mate.png);
    background-position: center center;
    background-size: cover;
    grid-row: 1 / 3;
}
.productos-principales__1 h2 {
    font-size: 4.8rem;
    font-weight: 400;
    display: grid;
    place-items: center;
    min-height: 100%;
}

/* Producto 2 */
.productos-principales__2 {
    background-image: url(../img/category-wallet.png);
    background-position: center center;
    background-size: cover;
}
.productos-principales__2 h2 {
    display: grid;
    place-items: center;
    min-height: 100%;
    font-size: 3rem;
    font-weight: 400;
}

/* Producto 3 */
.productos-principales__3 {
    background-image: url(../img/category-blanket.png);
    background-position: center center;
    background-size: cover;
}
.productos-principales__3 h2 {
    display: grid;
    place-items: center;
    min-height: 100%;
    font-size: 3.6rem;
    font-weight: 400;
}

.mn-w {
    min-width: 30rem;
    border-radius: 10px;
    cursor: pointer;
}